{{#each this}}
  <div class="col mb-5">
    <div class="card h-100" style="max-width: 325px">
      <!-- Product image-->
      <img class="card-img-top h-50" src={{image_url}} alt={{book_name}} />
      <!-- Product details-->
      <div
        class="card-body text-center p-3 d-flex flex-column justify-content-around"
      >
        <!-- Product name-->
        <h5 class="fw-bolder card-title">{{book_name}}</h5>
        <!-- Product price-->
        <p class="card-text">{{price}}</p>

      </div>
      <!-- Product actions-->
<<<<<<< HEAD
      <div class="card-footer text-center p-3">
        <a class="btn btn-outline-dark mt-auto" href="/book/{{id}}">Description
          and Reviews</a>
        <button type="button" class="btn btn-warning mt-3">Add to Cart</button>
=======
      <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <a
            class="btn btn-outline-dark mt-auto"
            href="/book/{{id}}"
          >Description and Reviews</a>
          <button type="button" class="btn btn-warning m-3">Add to Cart</button>
        </div>
>>>>>>> feature/bookview
      </div>
    </div>
  </div>
{{/each}}