<div class="col mb-5">
  <div class="card h-100" style="max-width: 250px">
    <!-- Product image-->
    <img
      class="card-img-top h-75"
      src={{category_image}}
      alt={{category_name}}
    />
    <!-- Product details-->
    <div
      class="card-body text-center p-3 d-flex flex-column justify-content-between"
    >

      <!-- Product name-->
      <h5 class="fw-bolder card-title">{{category_name}}</h5>
      <!-- Product price-->
    </div>
    <!-- Product actions-->
    <div class="card-footer text-center pt-0 border-top-0 bg-transparent p-3">
      <a class="btn btn-outline-dark mt-auto" href="/category/{{id}}">View Books
        in
        {{category_name}}</a>
    </div>
  </div>
</div>