<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder text-warning">Books</h1>
      <p class="lead fw-normal text-white-50 mb-0">Choose Your Adventure</p>
    </div>
  </div>
</header>

<div class="col-lg">
  <div class="card h-100 w-50 mx-auto">
    <!-- Product image-->
    <div class="media">
      <img
        class="align-self-start mr-3 border border-dark rounded h-75 w-50"
        src={{book.image_url}}
        alt={{book.book_name}}
      />
      <div class="media-body text-center">
        <h2 class="mt-0">{{book.book_name}}</h2>
        <h4 class="mt-0">{{book.author_name}}</h4>
        <h5 class="mt-0">{{book.price}}</h5>
        <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <button type="button" class="btn btn-warning m-3">Add to Cart</button>
          </div>
        </div>
        <div class="mt-o text-left">
          <h5>Description</h5>
          <p>{{book.description}}</p>
          <h5>Reviews</h5>
          <p>{{book.review}}</p>
        </div>
      </div>
    </div>
    <!-- Product actions-->

  </div>
</div>